@charset "UTF-8";
html {
  font-size: 62.5%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  width: calc(100vw - 15px);
  overflow-x: hidden;
  height: 100%;
  font-family: "メイリオ", "Meiryo", sans-serif;
  position: relative;
}

img, video {
  vertical-align: bottom;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.slick-slide img {
  display: block;
  height: 30vh;
  padding: 0 20px;
}

.slick-slider.is-open {
  position: relative;
  z-index: -1;
}

.l-header {
  width: calc(100vw - 15px);
  height: 80px;
  padding: 20px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: #fff;
}
@media (min-width: 600px) {
  .l-header {
    padding: 20px 40px;
  }
}

.l-main {
  width: 100%;
  padding-top: 80px;
}

.l-footer {
  padding: 10px 0;
  background: #121212;
}
.l-footer > p {
  text-align: center;
  color: #fff;
}

.l-sidebar {
  height: 100vh;
  width: 300px;
  padding: 60px 25px;
  background: #121212;
  position: fixed;
  z-index: 20;
  top: 0;
  left: -100%;
  transition: all 0.3s;
}
.l-sidebar.is-open {
  left: 0;
  transition: all 0.3s;
}

.c-button--hamburger {
  width: 25px;
  height: 25px;
  position: relative;
  z-index: 20;
}
.c-button--hamburger > span {
  display: block;
  font-size: 0;
  height: 2px;
}
.c-button--hamburger > span, .c-button--hamburger > span::before, .c-button--hamburger > span::after {
  width: 25px;
  background: #333333;
  position: absolute;
  left: 0;
}
.c-button--hamburger > span::before, .c-button--hamburger > span::after {
  content: "";
  height: 3px;
  transition: all 0.3s;
}
.c-button--hamburger > span::before {
  top: -10px;
}
.c-button--hamburger > span::after {
  top: 10px;
}
.c-button--hamburger.is-active > span {
  background: none;
}
.c-button--hamburger.is-active > span::before, .c-button--hamburger.is-active > span::after {
  top: 0;
  background: #fff;
  transition: all 0.3s;
  z-index: 20;
}
.c-button--hamburger.is-active > span::before {
  transform: rotate(-315deg);
}
.c-button--hamburger.is-active > span::after {
  transform: rotate(315deg);
}

.c-button--form {
  display: block;
  color: #fff;
  border: 1px solid #fff;
  width: 100%;
  height: 45px;
}

@media (min-width: 600px) {
  .c-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 26px;
  }
}
@media (min-width: 1025px) {
  .c-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.c-title--section {
  font-size: 24px;
  text-align: center;
  color: #121212;
  font-weight: bold;
}
@media (min-width: 600px) {
  .c-title--section {
    font-size: 40px;
  }
}

@media (min-width: 1025px) {
  .c-container {
    display: flex;
    justify-content: space-between;
  }
}

.c-layer {
  width: 100%;
  display: none;
}
.c-layer.is-open {
  display: block;
  position: fixed;
  height: 100vh;
  background: #000;
  opacity: 0.8;
  z-index: 10;
  top: 0;
  left: 0;
}

.p-pick-up {
  width: 100%;
  padding: 80px 0;
}
.p-pick-up__list {
  padding: 20px 0;
  overflow-x: hidden;
  display: flex;
}

.p-first-view {
  width: 100%;
}
.p-first-view > video {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  z-index: -1;
}
@media (min-width: 600px) {
  .p-first-view > video {
    height: auto;
  }
}

.p-contact {
  width: 100%;
  padding: 80px 16px;
  background: #121212;
}
.p-contact p, .p-contact label, .p-contact .c-title--section {
  color: #fff;
}
.p-contact p, .p-contact label {
  font-size: 14.5px;
}
@media (min-width: 1025px) {
  .p-contact > .c-container {
    padding: 40px 30px;
  }
}

.p-feature {
  width: 100%;
  padding-bottom: 80px;
}
.p-feature__list {
  padding: 20px 16px 10px;
}

.p-form {
  width: 100%;
}
.p-form__box {
  width: 100%;
}
.p-form__box input, .p-form__box textarea {
  display: block;
  width: 100%;
  background: #fff;
  margin-bottom: 20px;
}
.p-form__box input {
  height: 44px;
}
.p-form__box textarea {
  height: 68px;
}
@media (min-width: 1025px) {
  .p-form {
    width: 45%;
  }
}

.p-info {
  width: 100%;
  padding-top: 20px;
}
.p-info__text-box {
  margin-bottom: 30px;
}
@media (min-width: 1025px) {
  .p-info {
    width: 45%;
  }
}

.p-nav {
  color: #fff;
  font-size: 14.5px;
}
.p-nav__list--content {
  margin-bottom: 60px;
}
.p-nav__list--content > li {
  padding: 20px 0;
  border-top: 1px solid #fff;
}
.p-nav__list--content > :last-child {
  border-bottom: 1px solid #fff;
}
.p-nav__list--media > li {
  padding: 5px 0;
}

.p-card {
  width: 100%;
  margin-bottom: 24px;
  box-shadow: 0px 1px 5px 2px #cccccc;
}
.p-card:last-child {
  margin-bottom: 0;
}
@media (min-width: 600px) {
  .p-card {
    margin-bottom: 0;
  }
}
.p-card__img {
  width: 100%;
  position: relative;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0;
  visibility: hidden;
  transform: translateY(30px);
  transition: opacity 1s, visibility 1s, transform 1s;
}
.p-card__img.is-fade-in {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}
.p-card__text-box {
  padding: 16px;
  color: #121212;
}
.p-card__text-box > h4, .p-card__text-box > time {
  font-size: 12px;
}
.p-card__text-box > p {
  font-size: 15px;
  font-weight: bold;
  margin: 20px 0 27px;
}
.p-card__text-box > time {
  display: block;
  text-align: end;
}
/*# sourceMappingURL=style.css.map */