@use "../../Foundation/variable" as *;

.c-grid{
    @include breakpoint(tablet){

        display:               grid;
        grid-template-columns: repeat(3, 1fr);
        gap:                   26px;
    }
}