@use "../../Foundation/variable" as *;

.c-layer{
    width: 100%;

    display: none;


    &.is-open{
        display: block;
        position: fixed;
        height: 100vh;
        background: #000;
        opacity: .8;
        z-index: 10;
        top:0;
        left:0;
    }
}
