@use "../../Foundation/variable" as *;

.p-card{
    width: 100%;
    margin-bottom: 24px;
    box-shadow: 0px 1px 5px 2px #cccccc;

    &:last-child{
        margin-bottom: 0;
    }
    @include breakpoint(tablet){
        margin-bottom: 0;
    }
    &__img{
        width:      100%;
        position: relative;
        z-index: -1;
        object-fit: cover;
        opacity: 0;
        visibility: hidden;
        transform: translateY(30px);
        transition: opacity 1s, visibility 1s, transform 1s; 
        
        &.is-fade-in{
            opacity: 1;
            visibility: visible;
            transform: translateX(0);
        }
    }

    &__text-box{
        padding: 16px;
        color: #121212;
        >h4, >time{
            font-size: 12px;
        }
        >p{
            font-size: 15px;
            font-weight: bold;
            margin:  20px 0 27px;
        }
        >time{
            display: block;
            text-align: end;
        }
    }
}