@use "../../Foundation/variable" as *;

.p-form{
    width: 100%;
    &__box{
        width: 100%;
        input, textarea{
            display:  block;
            width: 100%;
            background: #fff;
            margin-bottom: 20px;
        }
        input{
            height: 44px;
        }
        textarea{
            height: 68px;
        }
    
    }

    @include breakpoint(pc){
        width: 45%;
    }

}